@font-face {
  font-family: "iconfont"; /* Project id 4199272 */
  src: url('iconfont.woff2?t=1691311214747') format('woff2'),
       url('iconfont.woff?t=1691311214747') format('woff'),
       url('iconfont.ttf?t=1691311214747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Pen:before {
  content: "\e62f";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-time:before {
  content: "\e680";
}

.icon-eye:before {
  content: "\e6ac";
}

.icon-icon-email:before {
  content: "\e648";
}

.icon-twitter-circle-fill:before {
  content: "\e88a";
}

.icon-github:before {
  content: "\f1b4";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-netease-cloud-music-line:before {
  content: "\e7df";
}

